@page "/"
@using System.Timers
@using KjellBlazorDemo.App.Logic
@using KjellBlazorDemo.Engine.Models
@using KjellBlazorDemo.Engine
@using KjellBlazorDemo.Engine.Interfaces
@using KjellBlazorDemo.Engine.GameLogic
@using KjellBlazorDemo.App.Components
@inject IPlayerManager Player
@inject IControls Controls
@inject IJSRuntime JsRunTime
@inject AssetManager AssetManager
@inject Interactions Interactions
@inject ILogic Logic
@inject Settings Settings

<PageTitle>Trash Troll @version</PageTitle>

@code
{
    Version version = typeof(Program).Assembly.GetName().Version;
}

<div id="Menu">
    <ul>
        <li id="settingsMenuItem" @onclick="ShowSettings">Settings</li>
        <li @onclick="ShowAbout">About</li>
        <li>@*@(Player.ToString())*@</li>
    </ul>    
</div>


<div id="mainDiv" @ref="mainDiv" @onkeydown="HandleKeyDown" @onkeyup="HandleKeyUp" @onkeydown:preventDefault tabindex="-1">   
    
    <div id="message">@Message</div>

    <audio id="audioPlayer">
        <source id="playerSource" src="" />
    </audio>
    
    <!--todo: see if this is viable, for the moment it will render but the keydown doesnt work,
        nor does character select.  Seems we need to add a bunch of code which ends up negating the 
        benefit of putting this into a component. 
    <PlayerComponent @ref="PlayerComponent"></PlayerComponent>-->

    <div id="player" class="player" style="top: @(Player.Position.Y)px; left: @(Player.Position.X)px;
        background-image: url(@(Player.Character.Sprite)); 
        background-position: @(Player.Character.offsetX)px @(Player.Character.offsetY)px;
        height: @(Player.Character.Height)px; width: @(Player.Character.Width)px;">
    </div>

    @foreach (var t in AssetList.Where(t => t.Visible).ToList())
    {
        <div class="@(t.Name)" style="top: @(t.Top)px; left: @(t.Left)px;
                    height: @(t.Height)px; width: @(t.Width)px;
                    background-position: @(t.offsetX)px @(t.offsetY)px; "></div>
        <div class="assettLabel" style="top: @(t.Top + 28)px; left: @(t.Left - 5)px;">@(t.MessageText)</div>
    }

</div>

<SettingsDialog @ref="SettingsDialog"></SettingsDialog>

<MessageDialog @ref="MessageDialog"></MessageDialog>

<DecisionDialog @ref="DecisionDialog"></DecisionDialog>




